# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

# Load the datasets from the URLs
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

# Read CSV files into DataFrames
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

# Function to clean individual datasets
def clean_data(df):
    # Example cleaning steps (customize as needed)
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')  # Standardize column names
    df.drop_duplicates(inplace=True)  # Remove duplicates
    df.dropna(inplace=True)  # Drop rows with missing values (or use other strategies)
    return df

# Clean each dataset
df1_clean = clean_data(df1)
df2_clean = clean_data(df2)
df3_clean = clean_data(df3)

# Combine the cleaned datasets
combined_df = pd.concat([df1_clean, df2_clean, df3_clean], ignore_index=True)

# Additional cleaning on the combined dataset if necessary
# (for example, handle any inconsistencies across datasets)

# Optional: Save the combined dataset
combined_df.to_csv("combined_clean_data.csv", index=False)

# Display the first few rows of the combined dataset to verify
combined_df.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,state
0,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN
1,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN
2,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN
3,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN
4,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042,NaN

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [4]:
import pandas as pd

# Load the datasets from the URLs
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
marketing_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"

# Read CSV files into DataFrames
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)
marketing_df = pd.read_csv(marketing_url)

# Function to clean individual datasets
def clean_data(df):
    # Standardize column names
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
    # Remove duplicates and handle missing values
    df.drop_duplicates(inplace=True)
    df.dropna(inplace=True)
    return df

# Clean each dataset
df1_clean = clean_data(df1)
df2_clean = clean_data(df2)
df3_clean = clean_data(df3)
marketing_clean = clean_data(marketing_df)

# Combine the cleaned datasets (df1, df2, df3)
combined_df = pd.concat([df1_clean, df2_clean, df3_clean], ignore_index=True)

# Additional cleaning on the combined dataset if necessary
# Example: Standardize data types, fix any inconsistencies across datasets, etc.

# Save the combined dataset to CSV
combined_df.to_csv("combined_clean_data.csv", index=False)

# Display the first few rows of the combined dataset to verify
print("Combined Dataset Preview:")
print(combined_df.head())

# Cleaned Marketing Customer Analysis Data Exploration
# Basic overview of the marketing data
print("\nMarketing Customer Analysis Dataset Overview:")
print(marketing_clean.info())

# Display summary statistics for numerical columns
print("\nSummary Statistics for Marketing Customer Analysis Dataset:")
print(marketing_clean.describe())

# Optional: Explore categorical data distributions (e.g., policy details, response rates)
print("\nCategorical Distribution (Example):")
print(marketing_clean['response'].value_counts())  # Example column for analysis

# Optional: Save the cleaned marketing dataset
marketing_clean.to_csv("marketing_customer_analysis_clean.csv", index=False)

# Display the first few rows of the marketing dataset to verify
print("\nMarketing Customer Analysis Dataset Preview:")
print(marketing_clean.head())

Combined Dataset Preview:
  customer          st gender             education customer_lifetime_value  \
0  QZ44356     Arizona      F              Bachelor              697953.59%
1  AI49188      Nevada      F              Bachelor             1288743.17%
2  WW63253  California      M              Bachelor              764586.18%
3  GA49547  Washington      M  High School or Below              536307.65%
4  OC83172      Oregon      F              Bachelor              825629.78%

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                  94.0                    1/0/00   Personal Auto
1  48767.0                 108.0                    1/0/00   Personal Auto
2      0.0                 106.0                    1/0/00  Corporate Auto
3  36357.0                  68.0                    1/0/00   Personal Auto
4  62902.0                  69.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount state
0  Four-Door Car         1131.464935   NaN
1   Two-Door Car          566.472247   NaN
2            SUV          529.881344   NaN
3  Four-Door Car           17.269323   NaN
4   Two-Door Car          159.383042   NaN

Marketing Customer Analysis Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None

Summary Statistics for Marketing Customer Analysis Dataset:
         unnamed:_0  customer_lifetime_value        income  \
count  10910.000000             10910.000000  10910.000000
mean    5454.500000              8018.241094  37536.284785
std     3149.590053              6885.081434  30359.195670
min        0.000000              1898.007675      0.000000
25%     2727.250000              4014.453113      0.000000
50%     5454.500000              5771.147235  33813.500000
75%     8181.750000              8992.779137  62250.750000
max    10909.000000             83325.381190  99981.000000

       monthly_premium_auto  months_since_last_claim  \
count          10910.000000             10910.000000
mean              93.196059                15.149071
std               34.442532                 9.783520
min               61.000000                 0.000000
25%               68.000000                 7.000000
50%               83.000000                15.000000
75%              109.000000                23.000000
max              298.000000                35.000000

       months_since_policy_inception  number_of_open_complaints  \
count                   10910.000000               10910.000000
mean                       48.091934                   0.384256
std                        27.940675                   0.885589
min                         0.000000                   0.000000
25%                        24.000000                   0.000000
50%                        48.000000                   0.000000
75%                        71.000000                   0.384256
max                        99.000000                   5.000000

       number_of_policies  total_claim_amount         month
count        10910.000000        10910.000000  10910.000000
mean             2.979193          434.888330      1.466728
std              2.399359          292.180556      0.498915
min              1.000000            0.099007      1.000000
25%              1.000000          271.082527      1.000000
50%              2.000000          382.564630      1.000000
75%              4.000000          547.200000      2.000000
max              9.000000         2893.239678      2.000000

Categorical Distribution (Example):
response
No     9444
Yes    1466
Name: count, dtype: int64

Marketing Customer Analysis Dataset Preview:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here